@import "../../styles/variables.scss";

.contentWrap {
  display: flex;
  justify-content: space-between;
}
.loginWrap {
  height: 100vh;
  overflow: hidden;
}
.logo {
  width: 18rem;
  margin: 3rem;
}
.credentialsWrap {
  border: solid $primary-color 5px;
  border-radius: 10px;

  padding: 2rem;
  margin-left: 7rem;
  color: $primary-color;
}
.h5 {
  text-align: center;
  margin-top: 0.5rem;
}
.button {
  background-color: $primary-color;
  color: white;
  border-radius: 30px;
  padding: 1rem 7.7rem;
  border: none;
}
.button:hover {
  box-shadow: 2px 2px 5px black;
}
.title {
  text-align: center;
}
.textArea {
  color: $primary-color;
  border-radius: 20px;
  border: solid $primary-color 2px;
  height: 3rem;
  width: 18rem;
}
.p {
  margin-bottom: 0.5rem;
}
.h6 {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0.5rem;
}
.leftContent {
}
