@import '../../styles/variables.scss';
.thankyouWrap{
display: flex;
overflow: hidden;
max-height: 100vh;
}
.imgWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}
.h1{
  
    font-size: 70px;
}
.contentWrap{
    display: flex;
    align-items: center;
}
.h2{
  
    line-height: 2;
    margin-right: 7rem;
}
.img{
height: 75%;
width: 75%;

}
.button{
    color: $primary-color;
    border: solid $primary-color 3px;
    border-radius: 5px;
    padding:1rem 4rem;
    
}
.button:hover{
    color: white;
    background-color: $primary-color;
    padding:1rem 4rem;
    box-shadow: 2px 2px 5px black;
}