.inputsWrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #0c163b;

  backdrop-filter: blur(200px);
  flex-wrap: wrap;
}
.form {
  margin: 30px;
  border-radius: 15px;
  background-color: white;

  padding: 30px 60px;
}
